body {
    background-color: #000;
    padding: 10px;
    margin: 0;
}

.body-color {
    background-color: #1c1d28;
}

.nav-brand-style {
    color: #fff !important;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Lobster', cursive;
}

.nav-ul-li-style a {
    color: #fff !important;
    font-size: 25px;
}

.nav-searchBar-style {
    background-color: #262c3a;
    border-radius: 30px;
    padding: 0px 20px;
    width: 100%;
    height: 50px;
    margin-left: 10px;
}

.nav-searchBar-style i {
    color: #fff;
    font-size: 20px;
}

.nav-searchBar-style input {
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 0;
}

.nav-searchBar-style input:focus {
    background-color: transparent;
    border: none !important;
    outline: none !important;
}

.nav-searchBar-style input::placeholder {
    color: #fff;
    text-shadow: 1px 1px 2px;
}

.navbar-toggler-style {
    color: #5b2fdb;
    background-color: #000;
}

.navbar-toggler-style i {
    color: #5b2fdb;
    background-color: #000;
}

.sidebar-card {
    height: 41rem;
    background-color: #141414;
    border-radius: 30px;
}

.sidebar-card-menu {
    display: flex;
}

.sidebar-card-menu .indicator {
    background-color: #5b2fdb;
    width: 5px;
    height: 40px;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 0px 10px 10px 0px;
}

.sidebar-card-menu i {
    color: #5b2fdb;
    background-color: #000;
    background-image: linear-gradient(#222222, #000);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-scroll-div-area {
    display: flex;
    flex-wrap: no-wrap;
    overflow-x: auto;
}

.horizontal-scroll-div-area::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll-div-area .card {
    background-color: #141414;
    height: 15.5rem;
    width: 30rem;
    border-radius: 30px;
    margin-right: 10px;
    flex: 0 0 auto;
}

.button-div-area {}

.button-div-area .cust-btn {
    background-color: #5b2fdb;
    color: #fff;
    margin-right: 20px;
    border-radius: 30px;
}



.vertical-scroll-div-area {
    display: flex;
    flex-wrap: wrap;
    height: 16rem;
    flex-wrap: no-wrap;
    overflow-x: auto;
}

.vertical-scroll-div-area::-webkit-scrollbar {
    display: none;
}

.vertical-scroll-div-area .card-div {
    background-color: #141414;
    height: 15rem;
    border-radius: 30px;
    padding: 10px;
}

.vertical-scroll-div-area .card {
    border-radius: 30px;
    background-color: #141414;
    height: 100%;
}

.vertical-scroll-div-area .card img {
    border-radius: 30px;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.card-artist-detail {
    background-color: #141414;
    width: 90%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 10px;
    color: rgb(128, 47, 47);
    padding: 10px 5px;
    box-shadow: 0.5px 0.5px 5px #ddd;
}

.card-artist-detail i,
.artist-performance-detail .user-data i {
    background-color: #e3c353;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 12px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-artist-detail .icon-user i {
    background-color: #000;
}

.sidebar-card-profile-name {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    margin: 0 auto;
}

.sidebar-card-profile-QR {
    width: 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    border-radius: 30px;
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px auto;
}

.sidebar-card-profile-QR i {
    padding: 2px;
    margin-right: 5px;
}

.sidebar-card-profile-QR p {
    font-size: 15px;
    font-weight: 600;
}

.card-artist-heart {
    background-color: #141414;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    color: #fff;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-shadow: 0.5px 0.5px 5px #ddd;
    right: 10px;
    transform: translatex(-50%);
    border-radius: 10px;
}

.icon-user .user-name {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;

}

.user-hello-data {
    color: #fff;
    padding-left: 8px;
    font-weight: 700;
}

.user-time {
    text-align: end;
    color: #fff;
    font-size: 12px;
}

@media only screen and (max-width:600px) {
    .nav-brand-style {
        font-size: 22px;
    }

    .sidebar-card-menu .indicator {
        display: none;
    }

    .vertical-scroll-div-area .card {
        background-color: #141414;
        height: 14rem;
        width: 100%;
    }
}


.artist-performance {
    height: 15.3rem;
    padding: 10px;
    border-radius: 30px;
}

.artist-performance img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;

}

.artist-performance-detail {
    padding: 10px;
}

.artist-performance-detail .icon-user {
    background-color: #1c1d28;
    border-radius: 30px;
    padding: 10px;
    width: 150px;
}

.artist-performance-detail .icon-user i {
    background-color: #000;
    padding: 7px;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 12px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.artist-performance-detail .icon-user .user-name {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
}

.artist-performance-time {
    font-size: 20px;
    font-weight: 600;
}

.live-endings-in {
    font-size: 12px;
    /* line-height: 12px; */
    color: #555;
    margin: 0;
    padding: o;
}

.music-performance {
    font-size: 14px;
    font-weight: 600;
    /* line-height: 12px; */
    color: #fff;
    margin: 0;
    padding: o;
}

.artist-performance-time span {
    color: #fff;
    background-color: #262c3a;
    padding: 5px;
    border-radius: 10px;
    margin: 0 5px;
    font-size: 15px;
    font-weight: 400;
}

.sidebar-card-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    font-size: 40px;
    color: #fff;
    margin: 30px auto 5px auto;
}

.sidebar-card-profile-badge {
    position: absolute;
    top: 10px;
    right: -2px;
    border: none;
    width: 13px;
    height: 13px;
    background-color: green;
    border-radius: 50px;

}

.sidebar-card-profile-icon-btn .card-artist-hearts {
    background-image: linear-gradient(#252525, #141414);
    width: 40px;
    height: 40px;
    color: #777;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.sidebar-card-profile-icon-btn {
    display: flex;
    width: 200px;
    /* background-color: #5b2fdb; */
    justify-content: space-around;
    margin: 10px auto;

}

    {
    #e1c45e
}

.sidebar-card-profile-ETH .user-data i {
    background-color: #e3c353;
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sidebar-card-profile-ETH .user-data {
    background-color: #252525;
    border-radius: 30px;
    height: 140px;
    padding: 15px;
}

.sidebar-card-profile-ETH .user-data .user-hello-data {
    color: #fff;
    font-size: 20px;
    padding: 0;
    position: relative;
    margin: 20px 0;
    font-weight: 700;
}

.sidebar-card-profile-ETH .user-data .user-usd {
    color: #777;
    font-size: 13px;
}

.sidebar-card-profile-btn .profile-btn-right {
    color: #ef5e5e;
    background-color: #ebd1d1;
    border-radius: 20px;
    font-weight: 500;
}

.sidebar-card-profile-btn .profile-btn-left {
    color: #0caf58;
    background-color: #caddd3;
    border-radius: 20px;
    font-weight: 500;
}

.sidebar-card .top-artist {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin: 15px 10px;
}

.top-artist-profile {
    background-color: #1f1f1f;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #fff;
}

.top-artist-follow p {
    background-color: #5b2fdb;
}

.top-artist-area {
    overflow: auto;
}

.top-artist-area::-webkit-scrollbar {
    display: none
}